.ButtonClose {
    position: absolute;
    height: 30px;
    width: 30px;
    top: 4px;
    right: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    cursor: pointer;
}

.ButtonCloseText {
    position: relative;
    top: -4px;
    color: #808080;
}
