.TodoListItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .25rem .75rem;
    color: #000;
    user-select: none;
}

.TodoListItem p {
    margin-bottom: 0;
    cursor: pointer;
}

.TodoListItem.important {
    font-weight: 700;
    color: #cf0c23;
}

