.AddTodo {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    margin-bottom: 3rem;
}

.AddTodo input {
    flex-grow: 1;
    margin-right: 0.5rem;
    padding: 0.25rem 0.75rem;
    border: 1px solid #808080;
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.15);
    transition: box-shadow 0.3s ease-in-out;
}

.AddTodo input:focus, .AddTodo input:hover {
    box-shadow: 2px 2px 10px 1px rgba(0, 0, 0, 0.35)
}

.AddTodo button {
    padding: 6px 30px;
}
